
.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28% 8%;
    gap: 10 em;
    background-color: black;

}

.about-img img
{
    position: absolute;
    top: 1300px; left: 50px;
    width: 300px;
    box-shadow: 0 0 15px rgb(52, 204, 255),
                0 0 10px rgb(52, 204, 255);
    border-radius: 30%;

}

.about-img2 img
{
    position: absolute;
    top: 1280px; right: 200px;
    width: 600px;
    border-radius: 30%;

}



.about-content h2
{
    
    position: absolute;
    top: 1100px; left: 65px;
    color: white;
    font-size: 70px;
    line-height: 2.2;

}

.about-content h3
{
    position: absolute;
    top: 1300px; left: 400px;
    font-size: 40px;
    color: white;

}

.about-content p
{
    position: absolute;
    top: 1300px; left: 400px;
    font-size: 34px;
    color: white;
    margin: 2em 0 3em;
}

.about-content p2
{
    position: absolute;
    top: 1520px; left: 650px;
    font-size: 34px;
    color: white;
    margin: 2em 0 3em;
}

.about-content p3
{
    position: absolute;
    top: 1570px; left: 600px;
    font-size: 34px;
    color: white;
    margin: 2em 0 3em;
}
