
.footer
{
    position: absolute;
    bottom: -2000px;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.contacts
{
    font-size: 23px;
    color: white;
    font-weight: 700;
    margin: 0 -200px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}