
.home
{
    width: 100%;
    gap: 7em;
    min-height: 100vh;
    padding: 30px 12% 0;
    display: flex;
    align-items: center;
    background: white;
    

}

.home-content
{
    max-width: 800px;
}

.home-content h3
{
    font-size:44px;
}

.home-content h1
{
    font-size: 60px;
    line-height: 1.1;

}
.home-content h2
{
    font-size: 42px;
    line-height: 1.4;

}

.home-content p
{
    margin: 20px 0 30px;
    font-size: 28px;
    line-height: 1.2
}

.btn-box
{
    width: 345;
    gap: 2em;
    display: flex;
}

.btn-1
{
    padding: 16px 30px;
    color: white;
    background-color: black;
    font-size: 20;
    letter-spacing: 1px;
    font-weight: 500;

    border: 2px solid transparent;
    border-radius: 8px;

    transition: 0.4s ease;
    cursor: pointer;
}
  

.btn-1:hover{
    color: black;
    background-color: white;
    border: 2px solid black;

}


.image-box img
{
    border-radius: 30%;
    max-width: 550px;
}