*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo
{
    font-size: 30px;
    color: white;
    font-weight: 500;
    transition: 0.4s ease;
}

.logo:hover
{
    color: rgb(52, 204, 255);
    text-shadow: 0 0 10px rgb(52, 204, 255), 0 0 20px rgb(52, 204, 255);
    transform: scale(1.1);

}

span
{
    color: rgb(52, 204, 255);
}

.navbar a
{
    font-size: 23px;
    color: white;
    font-weight: 500;
    margin: 0 50px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.navbar a:hover,
.navbar a.active 
{
    color:rgb(52, 204, 255);
    border-bottom: 3px solid rgb(52, 204, 255);
}
.contact
{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover 
{
    background-color: rgb(52, 204, 255);
    box-shadow: 0 0 25px rgb(52, 204, 255);
    color: white;
}

.home
{
    width: 100%;
    gap: 7em;
    min-height: 100vh;
    padding: 30px 12% 0;
    display: flex;
    align-items: center;
    background: white;
    

}

.home-content
{
    max-width: 800px;
}

.home-content h3
{
    font-size:44px;
}

.home-content h1
{
    font-size: 60px;
    line-height: 1.1;

}
.home-content h2
{
    font-size: 42px;
    line-height: 1.4;

}

.home-content p
{
    margin: 20px 0 30px;
    font-size: 28px;
    line-height: 1.2
}

.btn-box
{
    width: 345;
    gap: 2em;
    display: flex;
}

.btn-1
{
    padding: 16px 30px;
    color: white;
    background-color: black;
    font-size: 20;
    letter-spacing: 1px;
    font-weight: 500;

    border: 2px solid transparent;
    border-radius: 8px;

    transition: 0.4s ease;
    cursor: pointer;
}
  

.btn-1:hover{
    color: black;
    background-color: white;
    border: 2px solid black;

}


.image-box img
{
    border-radius: 30%;
    max-width: 550px;
}

::-webkit-scrollbar
{
    width: 15px;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(52, 204, 255);
}

::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28% 8%;
    gap: 10 em;
    background-color: black;

}

.about-img img
{
    position: absolute;
    top: 1300px; left: 50px;
    width: 300px;
    box-shadow: 0 0 15px rgb(52, 204, 255),
                0 0 10px rgb(52, 204, 255);
    border-radius: 30%;

}

.about-img2 img
{
    position: absolute;
    top: 1280px; right: 200px;
    width: 600px;
    border-radius: 30%;

}



.about-content h2
{
    
    position: absolute;
    top: 1100px; left: 65px;
    color: white;
    font-size: 70px;
    line-height: 2.2;

}

.about-content h3
{
    position: absolute;
    top: 1300px; left: 400px;
    font-size: 40px;
    color: white;

}

.about-content p
{
    position: absolute;
    top: 1300px; left: 400px;
    font-size: 34px;
    color: white;
    margin: 2em 0 3em;
}

.about-content p2
{
    position: absolute;
    top: 1520px; left: 650px;
    font-size: 34px;
    color: white;
    margin: 2em 0 3em;
}

.about-content p3
{
    position: absolute;
    top: 1570px; left: 600px;
    font-size: 34px;
    color: white;
    margin: 2em 0 3em;
}

.experience h1
{
    position: absolute;
    top: 2050px; left: 350px;
    font-size: 50px;
    line-height: 2.2;
}

.experience ul
{
    position: absolute;
    top: 2120px; left: 200px;
    font-size: 24px;
    margin: 2em 0 3em;

}

.experience h2
{
    position: absolute;
    top: 2050px; right: 400px;
    font-size: 50px;
    line-height: 2.2;
}


.experience h3
{
    position: absolute;
    top: 2120px; right: 805px;
    font-size: 34px;
    margin: 2em 0 3em;
    
}

.experience p
{
    position: absolute;
    top: 2180px; right: 700px;
    font-size: 25px;
    margin: 2em 0 3em;
}

.experience p2
{
    position: absolute;
    top: 2180px; right: 240px;
    font-size: 25px;
    color: rgb(52, 204, 255);
    margin: 2em 0 3em;
}

.experience ul2
{
    position: absolute;
    top: 2230px; right: 550px;
    font-size: 21px;
    margin: 2em 0 3em;
}