*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo
{
    font-size: 30px;
    color: white;
    font-weight: 500;
    transition: 0.4s ease;
}

.logo:hover
{
    color: rgb(52, 204, 255);
    text-shadow: 0 0 10px rgb(52, 204, 255), 0 0 20px rgb(52, 204, 255);
    transform: scale(1.1);

}

span
{
    color: rgb(52, 204, 255);
}

.navbar a
{
    font-size: 23px;
    color: white;
    font-weight: 500;
    margin: 0 50px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.navbar a:hover,
.navbar a.active 
{
    color:rgb(52, 204, 255);
    border-bottom: 3px solid rgb(52, 204, 255);
}
.contact
{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover 
{
    background-color: rgb(52, 204, 255);
    box-shadow: 0 0 25px rgb(52, 204, 255);
    color: white;
}

.home
{
    width: 100%;
    gap: 7em;
    min-height: 100vh;
    padding: 30px 12% 0;
    display: flex;
    align-items: center;
    background: white;
    

}

.home-content h3
{
    font-size:42px;
}

.home-content h1
{
    font-size: 62px;
    line-height: 1.2;

}

.home-content p
{
    margin: 25px 0 30px;
    font-size: 18px;
}

.btn-box
{
    width: 345;
    gap: 2em;
    display: flex;
}

.btn-1
{
    padding: 16px 30px;
    color: white;
    background-color: black;
    font-size: 20;
    letter-spacing: 1px;
    font-weight: 500;

    border: 2px solid transparent;
    border radius: 8px;

    transition: 0.4s ease;
    cursor: pointer;

}

.btn-1:hover{
    color: black;
    background-color: white;
    border: 2px solid black;

}

